{{- if not .HideEquipment -}}
 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Equipment</ansi> ──────────────────────────────────────────────────────────────┐
{{ if not .Equipment.Weapon.IsDisabled }}   <ansi fg="yellow">Weapon:     </ansi><ansi fg="itemname">{{ .Equipment.Weapon.NameSimple }}</ansi>
{{ end -}}
{{- if and (not .Equipment.Offhand.IsDisabled) (not (.Equipment.IsBlockedBy2H "offhand")) }}   <ansi fg="yellow">Offhand:    </ansi><ansi fg="itemname">{{ .Equipment.Offhand.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.ExtraArm1.IsDisabled }}   <ansi fg="yellow">Arm 3:      </ansi><ansi fg="itemname">{{ .Equipment.ExtraArm1.NameSimple }}</ansi>
{{ end -}}
{{- if and (not .Equipment.ExtraArm2.IsDisabled) (not (.Equipment.IsBlockedBy2H "extra arm 2")) }}   <ansi fg="yellow">Arm 4:      </ansi><ansi fg="itemname">{{ .Equipment.ExtraArm2.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.ExtraArm3.IsDisabled }}   <ansi fg="yellow">Arm 5:      </ansi><ansi fg="itemname">{{ .Equipment.ExtraArm3.NameSimple }}</ansi>
{{ end -}}
{{- if and (not .Equipment.ExtraArm4.IsDisabled) (not (.Equipment.IsBlockedBy2H "extra arm 4")) }}   <ansi fg="yellow">Arm 6:      </ansi><ansi fg="itemname">{{ .Equipment.ExtraArm4.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Head.IsDisabled }}   <ansi fg="yellow">Head:       </ansi><ansi fg="itemname">{{ .Equipment.Head.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Neck.IsDisabled }}   <ansi fg="yellow">Neck:       </ansi><ansi fg="itemname">{{ .Equipment.Neck.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Shoulders.IsDisabled }}   <ansi fg="yellow">Shoulders:  </ansi><ansi fg="itemname">{{ .Equipment.Shoulders.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Body.IsDisabled }}   <ansi fg="yellow">Body:       </ansi><ansi fg="itemname">{{ .Equipment.Body.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Back.IsDisabled }}   <ansi fg="yellow">Back:       </ansi><ansi fg="itemname">{{ .Equipment.Back.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Belt.IsDisabled }}   <ansi fg="yellow">Belt:       </ansi><ansi fg="itemname">{{ .Equipment.Belt.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Wrist1.IsDisabled }}   <ansi fg="yellow">Wrist 1:    </ansi><ansi fg="itemname">{{ .Equipment.Wrist1.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Wrist2.IsDisabled }}   <ansi fg="yellow">Wrist 2:    </ansi><ansi fg="itemname">{{ .Equipment.Wrist2.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.ExtraWrist1.IsDisabled }}   <ansi fg="yellow">Wrist 3:    </ansi><ansi fg="itemname">{{ .Equipment.ExtraWrist1.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.ExtraWrist2.IsDisabled }}   <ansi fg="yellow">Wrist 4:    </ansi><ansi fg="itemname">{{ .Equipment.ExtraWrist2.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.ExtraWrist3.IsDisabled }}   <ansi fg="yellow">Wrist 5:    </ansi><ansi fg="itemname">{{ .Equipment.ExtraWrist3.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.ExtraWrist4.IsDisabled }}   <ansi fg="yellow">Wrist 6:    </ansi><ansi fg="itemname">{{ .Equipment.ExtraWrist4.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Gloves.IsDisabled }}   <ansi fg="yellow">Gloves:     </ansi><ansi fg="itemname">{{ .Equipment.Gloves.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Ring.IsDisabled }}   <ansi fg="yellow">Ring:       </ansi><ansi fg="itemname">{{ .Equipment.Ring.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Ring2.IsDisabled }}   <ansi fg="yellow">Ring:       </ansi><ansi fg="itemname">{{ .Equipment.Ring2.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Legs.IsDisabled }}   <ansi fg="yellow">Legs:       </ansi><ansi fg="itemname">{{ .Equipment.Legs.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Feet.IsDisabled }}   <ansi fg="yellow">Feet:       </ansi><ansi fg="itemname">{{ .Equipment.Feet.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Tail.IsDisabled }}   <ansi fg="yellow">Tail:       </ansi><ansi fg="itemname">{{ .Equipment.Tail.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.Light.IsDisabled }}   <ansi fg="yellow">Light:      </ansi><ansi fg="itemname">{{ .Equipment.Light.NameSimple }}</ansi>
{{ end -}}
{{- if not .Equipment.ComponentBag.IsDisabled }}   <ansi fg="yellow">Components: </ansi><ansi fg="itemname">{{ .Equipment.ComponentBag.NameSimple }}</ansi>
{{ end }} └────────────────────────────────────────────────────────────────────────────┘
{{- end }}
 Carrying: {{ $itmCt := len .ItemNames }}{{ if eq $itmCt 0 }}no{{ else if lt $itmCt 4 }}a few{{ else if lt $itmCt 7 }}several{{ else }}lots of{{ end }} objects
