
 <ansi fg="black-bold">.:</ansi> <ansi fg="username">{{ .Character.Name }}</ansi> the {{ title .Character }}
 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Attributes</ansi> ──────────────────────────────────────────────────────────────┐
 │ <ansi fg="yellow">Strength:   </ansi>{{ padRight 13 (statQuality .Character.Stats.Strength.Value) }}<ansi fg="yellow">Dexterity:  </ansi>{{ padRight 13 (statQuality .Character.Stats.Dexterity.Value) }}<ansi fg="yellow">Perception: </ansi>{{ padRight 13 (statQuality .Character.Stats.Perception.Value) }} │
 │ <ansi fg="yellow">Vitality:   </ansi>{{ padRight 13 (statQuality .Character.Stats.Vitality.Value) }}<ansi fg="yellow">Willpower:  </ansi>{{ padRight 13 (statQuality .Character.Stats.Willpower.Value) }}<ansi fg="yellow">Charisma:   </ansi>{{ padRight 13 (statQuality .Character.Stats.Charisma.Value) }} │
 └─────────────────────────────────────────────────────────────────────────────┘
 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Vitals</ansi> ──────────────────────────────────────────────────────────────────┐
 │ <ansi fg="yellow">Health:     </ansi>{{ vitalQuality .Character.Health .Character.HealthMax.Value 13 }}<ansi fg="yellow">Stamina:    </ansi>{{ vitalQuality .Character.Stamina .Character.StaminaMax.Value 13 }}<ansi fg="yellow">Conviction: </ansi>{{ vitalQuality .Character.Conviction .Character.ConvictionMax.Value 13 }} │
 │ <ansi fg="yellow">Reserved:   </ansi>{{ reservationQuality (.Character.ReservationBandName "health") 13 }}            {{ reservationQuality (.Character.ReservationBandName "stamina") 13 }}            {{ reservationQuality (.Character.ReservationBandName "conviction") 13 }} │
 │ <ansi fg="yellow">Toxicity:   </ansi>{{ toxicityQuality .Character.ToxicityBandName 13 }}<ansi fg="yellow">Encumbrance:</ansi>{{ encumbranceQuality .Character.GetCarriedWeight .Character.CarryCapacity 13 }}                          │
 └─────────────────────────────────────────────────────────────────────────────┘
 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Defenses</ansi> ────────────────────────────────────────────────────────────────┐
 │ <ansi fg="yellow">Physical:   </ansi>{{ padRight 13 (mitigationQuality (.Character.GetPhysicalMitigation)) }}<ansi fg="yellow">Magical:    </ansi>{{ padRight 13 (mitigationQuality (.Character.GetMagicalMitigation)) }}<ansi fg="yellow">Conviction: </ansi>{{ padRight 13 (mitigationQuality (.Character.GetConvictionMitigation)) }} │
 └─────────────────────────────────────────────────────────────────────────────┘
 ┌─ <ansi fg="black-bold">.:</ansi><ansi fg="20">Info</ansi> ────────────────────────────────────────────────────────────────────┐
 │ <ansi fg="yellow">Species:    </ansi>{{ padRight 13 .Character.SpeciesDisplay }}<ansi fg="yellow">Gold:       </ansi>{{ padRight 13 (numberFormat .Character.Gold) }}<ansi fg="yellow">Bank:       </ansi>{{ padRight 13 (numberFormat .Character.Bank) }} │
 └─────────────────────────────────────────────────────────────────────────────┘
 <ansi fg="yellow">Submission policy:</ansi> {{ .Character.SubmissionPolicy }}    <ansi fg="yellow">Surrender policy:</ansi> {{ .Character.SurrenderPolicy }}
{{- if .Character.Buffs.HasBuff 83 }}
 <ansi fg="red-bold">Broken limb: {{ .Character.Buffs.TriggersLeft 83 }} rounds remaining</ansi>
{{- end }}
{{- if .Character.Mutations }}
 <ansi fg="black-bold">.:</ansi><ansi fg="20">Mutations</ansi><ansi fg="black-bold">:.</ansi>
{{- range $id, $level := .Character.Mutations }}
   <ansi fg="yellow">{{ printf "%-25s" $id }}</ansi> <ansi fg="magenta">{{ mutationLevel $level }}</ansi>
{{- end }}
{{- end }}
