<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">antler-amulet</ansi> (jewelcrafting recipe)

A carved antler disc on silver wire. +2 Willpower, +1 Vitality, a little
magical protection.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       jewelcrafting (minimum 18)
  <ansi fg="yellow">Station:</ansi>     jeweler bench
  <ansi fg="yellow">Tool:</ansi>        carving knife
  <ansi fg="yellow">Ingredients:</ansi> antler (x1), silver wire (x1), polished stone (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jewelcrafting</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
