<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">birch-bark-liquor</ansi> (cooking recipe)

Steep birch bark into tanning liquor.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       cooking (minimum 0)
  <ansi fg="yellow">Station:</ansi>     cooking fire
  <ansi fg="yellow">Ingredients:</ansi> birch bark (x2), water flask (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help cooking</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
