<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">claw-bracelet</ansi> (jewelcrafting recipe)

Three claws (taken with a bone saw) bound on silver wire. +2 Dexterity.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       jewelcrafting (minimum 14)
  <ansi fg="yellow">Station:</ansi>     jeweler bench
  <ansi fg="yellow">Tool:</ansi>        carving knife
  <ansi fg="yellow">Ingredients:</ansi> claw (x3), silver wire (x1), cord (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jewelcrafting</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
