<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">crucible-plate-helm</ansi> (blacksmithing recipe)

A helm of crucible steel lined with a great bear pelt (only a masterwork
knife takes one). 7 physical protection, +2 Vitality.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       blacksmithing (minimum 50)
  <ansi fg="yellow">Station:</ansi>     forge
  <ansi fg="yellow">Ingredients:</ansi> crucible steel (x3), great bear pelt (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help blacksmithing</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
