<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">draw-silver-wire</ansi> (jewelcrafting recipe)

Draw a silver ingot into silver wire.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       jewelcrafting (minimum 10)
  <ansi fg="yellow">Station:</ansi>     jeweler bench
  <ansi fg="yellow">Ingredients:</ansi> silver ingot (x1)
  <ansi fg="yellow">Makes:</ansi>       4

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jewelcrafting</ansi>, <ansi fg="command">help mining</ansi>, <ansi fg="command">help craft</ansi>
