<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">flawless-gem-ring</ansi> (jewelcrafting recipe)

A gold ring set with a flawless gem, which only a steel pick or better
takes whole from the rock. +3 Charisma, +3 Willpower.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       jewelcrafting (minimum 50)
  <ansi fg="yellow">Station:</ansi>     jeweler bench
  <ansi fg="yellow">Ingredients:</ansi> flawless gem (x1), gold wire (x2)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jewelcrafting</ansi>, <ansi fg="command">help mining</ansi>, <ansi fg="command">help craft</ansi>
