<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">glass-facet-buckler</ansi> (blacksmithing recipe)

A steel buckler faced edge to edge with Obelisk lenses. It blocks better
than bare steel at less than half the weight, and some of what it
catches goes back up the arm that struck.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       blacksmithing (minimum 42)
  <ansi fg="yellow">Station:</ansi>     forge
  <ansi fg="yellow">Ingredients:</ansi> steel ingot (x2), wooden plank (x1), obelisk lens (x15)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help blacksmithing</ansi>, <ansi fg="command">help craft</ansi>
