<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">horsehair-bowstring</ansi> (tailoring recipe)

Braid horsehair into a bowstring.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       tailoring (minimum 2)
  <ansi fg="yellow">Station:</ansi>     loom
  <ansi fg="yellow">Ingredients:</ansi> horsehair (x3)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help tailoring</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
