<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">hunting-bow</ansi> (woodwork recipe)

A recurve bow with a glued, leather-wrapped grip.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       woodwork (minimum 15)
  <ansi fg="yellow">Station:</ansi>     woodworking bench
  <ansi fg="yellow">Tool:</ansi>        carving knife
  <ansi fg="yellow">Ingredients:</ansi> bow stave (x1), bowstring (x1), glue (x1), leather strip (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help woodwork</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
