<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">ironwood-haft</ansi> (woodwork recipe)

Hafts for masterwork tools, sawn from ironwood (the rarest timber, which
needs a steel axe to fell).

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       woodwork (minimum 35)
  <ansi fg="yellow">Station:</ansi>     woodworking bench
  <ansi fg="yellow">Tool:</ansi>        saw
  <ansi fg="yellow">Ingredients:</ansi> ironwood log (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help woodwork</ansi>, <ansi fg="command">help tools</ansi>, <ansi fg="command">help craft</ansi>
