<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">conviction</ansi>

The <ansi fg="command">conviction</ansi> stat represents your mental and spiritual energy used to cast spells.

Conviction will change color to reflect how much you have left:

<ansi fg="mana-100">untouched</ansi>
<ansi fg="mana-90">nearly full</ansi>
<ansi fg="mana-80">strong</ansi>
<ansi fg="mana-70">steady</ansi>
<ansi fg="mana-60">drawn down</ansi>
<ansi fg="mana-50">half spent</ansi>
<ansi fg="mana-40">running low</ansi>
<ansi fg="mana-30">thin</ansi>
<ansi fg="mana-20">nearly spent</ansi>
<ansi fg="mana-10">almost gone</ansi>
<ansi fg="mana-0">empty</ansi>


