<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">masterwork-pick</ansi> (blacksmithing recipe)

A pick of crucible steel. A masterwork tool: ore up to pristine grade and
the best odds of gems.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       blacksmithing (minimum 50)
  <ansi fg="yellow">Station:</ansi>     forge
  <ansi fg="yellow">Ingredients:</ansi> crucible steel (x2), ironwood haft (x1), leather strip (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help blacksmithing</ansi>, <ansi fg="command">help mining</ansi>, <ansi fg="command">help craft</ansi>
