<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">masterwork-bow-saw</ansi> (blacksmithing recipe)

A frame saw of crucible steel and ironwood. A masterwork tool: staves and
boards up to pristine grade.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       blacksmithing (minimum 52)
  <ansi fg="yellow">Station:</ansi>     forge
  <ansi fg="yellow">Ingredients:</ansi> crucible steel (x2), ironwood haft (x2)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help blacksmithing</ansi>, <ansi fg="command">help tools</ansi>, <ansi fg="command">help craft</ansi>
