<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">masterwork-felling-axe</ansi> (blacksmithing recipe)

A great felling axe of crucible steel. A masterwork tool: fells any tree
there is, fast, with logs up to pristine grade.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       blacksmithing (minimum 55)
  <ansi fg="yellow">Station:</ansi>     forge
  <ansi fg="yellow">Ingredients:</ansi> crucible steel (x3), ironwood haft (x1), leather strip (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help blacksmithing</ansi>, <ansi fg="command">help tools</ansi>, <ansi fg="command">help craft</ansi>
