<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">obelisk-lens</ansi> (jewelcrafting recipe)

A shard of Obelisk Glass scored along its grain and ground into three
small lenses, thin at the edge and thick at the centre. Glass armour is
scaled with them by the dozen.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       jewelcrafting (minimum 35)
  <ansi fg="yellow">Station:</ansi>     jeweler bench
  <ansi fg="yellow">Ingredients:</ansi> obelisk glass (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jewelcrafting</ansi>, <ansi fg="command">help craft</ansi>
