<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">quicksilver-soles</ansi> (alchemy recipe)

A pair of soles inlaid with a bright, living vein of quicksilver that
never sits still, shifting and pooling with every shift of weight above
it. Stand on them and you can feel the restlessness underfoot, a current
always looking for somewhere else to be. Cobblers who work quicksilver
keep their hands quick and their windows open.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       alchemy (minimum 50)
  <ansi fg="yellow">Station:</ansi>     alchemy_bench
  <ansi fg="yellow">Ingredients:</ansi> Moonpetal (x2), Serpent Venom Sac (x1), Coal Dust (x1)
  <ansi fg="yellow">Learned:</ansi>     part of Veyra's secret: ask veyra teach zephyr

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help alchemy</ansi>, <ansi fg="command">help craft</ansi>
