<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">scale-vest</ansi> (tailoring recipe)

Overlapping scales laced onto a leather vest.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       tailoring (minimum 15)
  <ansi fg="yellow">Station:</ansi>     loom
  <ansi fg="yellow">Ingredients:</ansi> scales (x6), leather strip (x2), thread spool (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help tailoring</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
