<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">self-bow</ansi> (woodwork recipe)

A plain bow from one stave and a bowstring. Needs a carving knife.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       woodwork (minimum 0)
  <ansi fg="yellow">Station:</ansi>     woodworking bench
  <ansi fg="yellow">Tool:</ansi>        carving knife
  <ansi fg="yellow">Ingredients:</ansi> bow stave (x1), bowstring (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help woodwork</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
