<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">show</ansi>

The <ansi fg="command">show</ansi> command shows an object to another player or mob.
They get a look at it, and you keep it.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">show sword sam</ansi>
  This shows your sword to sam.

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help give</ansi>
