<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">steel-cleaver</ansi> (blacksmithing recipe)

A steel cleaver. A steel tool: bone and fat up to superb grade, a little
faster than iron.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       blacksmithing (minimum 18)
  <ansi fg="yellow">Station:</ansi>     forge
  <ansi fg="yellow">Ingredients:</ansi> steel ingot (x2), wooden plank (x1), leather strip (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help blacksmithing</ansi>, <ansi fg="command">help tools</ansi>, <ansi fg="command">help craft</ansi>
