<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">talon-ring</ansi> (jewelcrafting recipe)

A silver band set with raptor talons. +2 Perception, +1 Dexterity.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       jewelcrafting (minimum 16)
  <ansi fg="yellow">Station:</ansi>     jeweler bench
  <ansi fg="yellow">Tool:</ansi>        carving knife
  <ansi fg="yellow">Ingredients:</ansi> talons (x2), silver wire (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help jewelcrafting</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
