<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="command">trade</ansi>

The <ansi fg="command">trade</ansi> command talks on the world-wide
<ansi fg="yellow">trade</ansi> channel, for buying, selling and looking for
goods. Everyone online with the channel on will hear you.

Turn any channel on or off with <ansi fg="command">channels</ansi>.

<ansi fg="yellow">Usage: </ansi>

  <ansi fg="command">trade WTS a masterwork sword, 500 gold</ansi>

  Output to everyone with trade on:

  <ansi fg="yellow">(trade)</ansi> Charles: WTS a masterwork sword, 500 gold
