<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">whittling-knife</ansi> (blacksmithing recipe)

A slim, stiff-bladed knife for whittling wood and shaping bone and horn.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       blacksmithing (minimum 3)
  <ansi fg="yellow">Station:</ansi>     forge
  <ansi fg="yellow">Ingredients:</ansi> iron ingot (x1), wooden plank (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help blacksmithing</ansi>, <ansi fg="command">help craft</ansi>
