<ansi fg="black-bold">.:</ansi> <ansi fg="magenta">Help for </ansi><ansi fg="skill">wooden-shield</ansi> (woodwork recipe)

A plain round shield of planks with a leather strap.

<ansi fg="yellow">━━━ Crafting ━━━</ansi>

  <ansi fg="yellow">Skill:</ansi>       woodwork (minimum 3)
  <ansi fg="yellow">Station:</ansi>     woodworking bench
  <ansi fg="yellow">Ingredients:</ansi> wooden plank (x3), leather strip (x1)

<ansi fg="magenta-bold">See also:</ansi> <ansi fg="command">help woodwork</ansi>, <ansi fg="command">help craft</ansi>, <ansi fg="command">help tools</ansi>
